<p id="notice"><%= notice %></p>

<div class="row">
  <div class="container-fluid" style="text-align:center;">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="tree-btn">Tree</button>
      <button type="button" class="btn btn-default" id="cloud-btn">Cloud</button>
    </div>
    <p>there are <%= @responses.count %> responses for <%= @email.email %></p>
  </div>
</div>

<script type="text/javascript">
  window.rawdata = [<%= raw @responses.map{ |r| sanitize r.content.downcase.gsub(/[^a-z0-9\s]/i, '') }.to_json %>];
  window.top_words = <%= raw top_words(@responses).to_json %>;
  // google.charts.setOnLoadCallback(drawChart);
</script>

<div id="vis_div" style="width: 100%; height: 500px;"></div>

<div id="tree-root-control" class="controls">
  <div class="col">
    <div class="input-group">
      <input id="root-word" class="form-control message" type="text" name="inpWord" placeholder="Define the tree's root here">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" id="tree-suffix-btn">Suffix</button>
        <button type="button" class="btn btn-default" id="tree-prefix-btn">Prefix</button>
        <button type="button" class="btn btn-default" id="tree-double-btn">Double</button>
      </span>
    </div>
    <div class="btn-group" role="group">
    </div>
  </div>
</div>

<script>
  <% word = params[:inpWord] %>
  $(document).ready( function() {
    drawChart('<%= params[:inpWord].to_s %>');
    // test = "<%= params[:inpWord].to_s %>";
    // console.log(test);
    // if ("<%= params[:inpWord].to_s %>") {
    //   $("#root-word").value="<%= params[:inpWord] %>";
    // }
  });
  $("#cloud-btn").click( function() {
    loadCloud(window.top_words);
  });
  $("#tree-btn").click( function() {
    loadTree();
  });
  // $("#root-button").click( function() {
  //   var inpWord = document.getElementById("root-word").value;
  //   loadTree(inpWord);
  // });
  $("#tree-prefix-btn").click( function() {
    var inpWord = document.getElementById("root-word").value;
    loadTree(inpWord, 'prefix');
  });
  $("#tree-suffix-btn").click( function() {
    var inpWord = document.getElementById("root-word").value;
    loadTree(inpWord, 'suffix');
  });
  $("#tree-double-btn").click( function() {
    var inpWord = document.getElementById("root-word").value;
    loadTree(inpWord, 'double');
  });
</script>
